<div id="navigation-header" class="navigation no-background">
  <div id="navigation-area" class="">
    <div id="branding-area" class="branding">
      <%= link_to 'Iheanyi Ekechukwu', '/index.html', :relative => true, :class => "branding-logo" %>
    </div>

    <nav class="nav-collapse">
        <ul class="navigation-items">
            <li><%= link_to 'About', '/about.html', :relative => true %></li>
            <li><%= link_to 'Projects', '/projects.html', :relative => true %></li>
            <li><%= link_to 'Writing', '/blog.html', :relative => true %></li>
            <li><%= link_to 'Contact', '/contact.html', :relative= => true %></li>
        </ul>
    </nav>
  </div>
</div>
