<div class="projects-area home-area">
  <span class="area-heading">latest projects</span>

  <div class="latest-projects">
    <div class="container-full">
      <div class="full-width-table project-items">
          <% blog("projects").articles[0..2].each do |article| %>
            <figure class="effect-oscar placeholder-box-projects">
             <%= image_tag(article.data.cover_photo) %>

              <figcaption>
                <h2><%=article.title %></h2>
                <p><%= article.data.description %></p>

                <%= link_to "", article, :relative => true %>
              </figcaption>
            </figure>

          <% end %>
        </div>

      <div class="reset-disp"></div>
    </div>

    <div class="container">
      <button class="circle-button lg-button reset"><%= link_to 'view more projects', '/projects.html' %></button>
    </div>
  </div>
</div>